.wrapper{
    width: 37.5rem;
    height: 40.625rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border-radius: 2.3rem;
    margin-top: 0.5rem;
}
.btn{
    background-color: none;
    border: 1px solid gray;
    font-size: 1rem;
    gap:2rem;
    cursor: pointer;
}
h1{
    font-size: 30px;
    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.nextBtn{
    background-color: #000;
    color: #fff;
    cursor: pointer;
}
.inputCss{
    border: 1px solid grey;
   
}